<%- include('includes/head.ejs') %>
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <div class="container">
          <section>
            <h3>404 Page Not Found!</h3>  
          </section>
      </div>
    </main>
<%- include('includes/end.ejs') %>