<!-- Built on a cart template at https://bootsnipp.com/snippets/ZXKKD -->
<!-- Author: Antony Helsby -->
<%- include('../includes/head.ejs') %>
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>                
      <div>
          <p>
              Made it
          </p>
      </div>
    </main>
<%- include('../includes/end.ejs') %>