<%- include('../includes/head.ejs') %>
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <section>
        <div class="container">
            <h1>Dashboard</h1>
            <p>Welcome <%= name %></p>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>

        </div>
      

      </section>
    </main>
<%- include('../includes/end.ejs') %>