<%- include('../includes/head.ejs') %>
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <section>
        <h1>Logout page</h1>
        <h3>Express generator</h3>
        <p>User express generator to generator nodejs app template</p>
      </section>
    </main>
<%- include('../includes/end.ejs') %>